  <mat-card class="full-container">
    <mat-card-header>
      <mat-card-title>
        Admin Attendance Pattern's Upload
      </mat-card-title>
      <mat-card-subtitle>
        Exel file must have EmployeeId, Sublocation, Shift, DayOffs('dd/MM/yyyy' Format - ',' as delimeter)
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

      <div class="data-table-container data-table">
        <div class="search-container">
          <form id="file-upload-form" class="uploader">
            <input id="file-upload" #input [disabled]="(isLoading | async)"
            type="file" name="fileUpload" accept=".xls,.xlsx" (change)="uploadFile($event); input.value=''"/>
            <label for="file-upload">
              <p class="mat-body-2 accent-text" style="margin-bottom: 0;" *ngIf="!(isLoading | async); else loadingSpinner">
                Select File <mat-icon>description</mat-icon>
              </p>
              <ng-template #loadingSpinner>
                  <div class="wrapper">
                    <mat-spinner diameter="25" color="accent"></mat-spinner>
                  </div>
              </ng-template>
            </label>
          </form>
        </div>
        <div class="table-container mat-elevation-z8">
          <table width=100% height=100% mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="EmployeeId">
              <th mat-header-cell *matHeaderCellDef> EmployeeId </th>
              <td mat-cell *matCellDef="let element">
                {{element.EmployeeId}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Sublocation">
              <th mat-header-cell *matHeaderCellDef> Sublocation </th>
              <td mat-cell *matCellDef="let element">
                {{element.Sublocation}}
              </td>
            </ng-container>
            <ng-container matColumnDef="Transportation">
              <th mat-header-cell *matHeaderCellDef> Shift </th>
              <td mat-cell *matCellDef="let element">
                {{element.Shift}}
              </td>
            </ng-container>
            <ng-container matColumnDef="DayOffs">
              <th mat-header-cell *matHeaderCellDef> DayOffs </th>
              <td mat-cell *matCellDef="let element">
                {{element.DayOffs}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: columns;" [ngStyle]="{'background-color': row.Valid ? '' : 'pink'}"></tr>
          </table>
        </div>
        <button mat-raised-button color="accent" class="paginator-container"
        [disabled]="!isValid || (isLoading | async)" (click)="submit()">
          <mat-icon>upload</mat-icon>Upload
          <span>({{dataSource.data.length}})</span>
        </button>
      </div>

    </mat-card-content>
  </mat-card>

  <!-- Upload  -->

