<form [formGroup]="frm" (ngSubmit)="onSubmit()">
<mat-card class="full-dialog-container">
  <mat-card-header>
    <mat-card-title>
      {{newOrUpdate}}
    </mat-card-title>
    <mat-card-subtitle>
      Please fill in the form
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
      <div>
        <app-input [formGroup]="frm" [isAsync]="true" [isChecking]="isCheckingName | async" controlName="Name" label="Name" type="text"></app-input>
      </div>
      <div>
        <app-input [formGroup]="frm" controlName="Address" label="Address" type="text"></app-input>
      </div>
      <div>
        <app-input [formGroup]="frm" controlName="ContactPhone" label="Contact Phone" type="text"></app-input>
      </div>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button mat-dialog-close type="button">Cancel</button>
    <button mat-raised-button color="primary">Submit</button>
  </mat-card-actions>
</mat-card>
</form>
