<form [formGroup]="frm" (ngSubmit)="onSubmit()">
  <mat-card class="full-dialog-container">
    <mat-card-header>
      <mat-card-title>
        {{newOrUpdate}}
      </mat-card-title>
      <mat-card-subtitle>
        Please fill in the form
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table class="dialog-form-table">
        <!-- <tr>
          <td colspan="2">
            <app-input [formGroup]="frm" [isAsync]="true" [isChecking]="isCheckingName | async" controlName="Name" label="Name" type="text"></app-input>
          </td>
        </tr> -->
        <!-- <tr>
          <td colspan="2">
            <mat-form-field>
              <mat-label>
                Sublocation
              </mat-label>
              <mat-select formControlName="SublocationId">
                <mat-option *ngFor="let sublocation of subLocations | async" [value]="sublocation.Id">{{sublocation.Name}}</mat-option>
              </mat-select>
              <mat-spinner matSuffix color="primary" diameter=20 *ngIf="isLoadingSublocations | async"></mat-spinner>
            </mat-form-field>
          </td>
        </tr> -->
        <tr>
          <td>
            <app-input label="Arrive" type="time" [formGroup]="frm" controlName="ArriveTime"></app-input>
          </td>
          <td>
            <app-input label="Depart" type="time" [formGroup]="frm" controlName="DepartTime"></app-input>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>
  </form>
