<form [formGroup]="frm" (ngSubmit)="onSubmit()">
  <mat-card class="full-dialog-container">
    <mat-card-header>
      <mat-card-title>
        {{newOrUpdate}}
      </mat-card-title>
      <mat-card-subtitle>
        Please fill in the form
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table class="dialog-form-table">
        <tr>
          <td>
            <app-input [formGroup]="frm" [isAsync]="true" [isChecking]="isCheckingEmployeeId | async" controlName="EmployeeId" label="Employee Id" type="number"></app-input>
          </td>
          <td>
            <app-input [formGroup]="frm" [isAsync]="true" [isChecking]="isCheckingAlias | async" controlName="Alias" label="Alias" type="text"></app-input>
          </td>
        </tr>
        <tr>
          <td>
            <app-input [formGroup]="frm" [isAsync]="true" [isChecking]="isCheckingName | async" controlName="Name" label="Name" type="text"></app-input>
          </td>
          <td>
            <app-input [formGroup]="frm" [isAsync]="true" [isChecking]="isCheckingEmail | async" controlName="Email" label="Email" type="text"></app-input>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>
                Gender
              </mat-label>
              <mat-select formControlName="Gender">
                <mat-option *ngFor="let gender of genders" [value]="gender">{{gender}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          <td>
            <mat-form-field>
              <mat-label>
                Language
              </mat-label>
              <mat-select formControlName="Language">
                <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <app-input label="Address" type="text" [formGroup]="frm" controlName="Address"></app-input>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <app-input label="Note" type="text" [formGroup]="frm" controlName="Note"></app-input>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>
  </form>
