<mat-card class="full-container">
  <mat-card-header>
    <mat-card-title>
      Locations
    </mat-card-title>
    <mat-card-subtitle>
      Select location to update
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

    <app-data-table
    [data]="observableData"
    [columnsDef]="columnsDef"
    [clickable]="true"
    (rowClicked)="openLocation($event)"
    [isLoading]="isLoading"
    [haveFilter]="true"
    >
    </app-data-table>

  </mat-card-content>
</mat-card>
<button mat-fab class="float-bottom-right" (click)="openLocation()"><mat-icon>add</mat-icon></button>

