<form [formGroup]="frm" (ngSubmit)="onSubmit()">
  <mat-card class="full-dialog-container">
    <mat-card-header>
      <mat-card-title>
        {{newOrUpdate}}
      </mat-card-title>
      <mat-card-subtitle>
        Please fill in the form
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <table class="dialog-form-table">
        <tr>
          <td>
            <app-input [formGroup]="frm" [isAsync]="true" [isChecking]="isCheckingName | async" controlName="Name" label="Name" type="text"></app-input>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field>
              <mat-label>
               Default Activity
              </mat-label>
              <mat-select formControlName="DefaultActivityId">
                <mat-option *ngFor="let activity of activitiesSubject | async" [value]="activity.Id">
                  {{activity.Name}}
                </mat-option>
              </mat-select>
              <mat-spinner matSuffix color="primary" diameter=20 *ngIf="isLoadingActivities | async"></mat-spinner>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-checkbox formControlName="IsAbsence">Absence</mat-checkbox>
          </td>
        </tr>
      </table>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button mat-dialog-close type="button">Cancel</button>
      <button mat-raised-button color="primary">Submit</button>
    </mat-card-actions>
  </mat-card>
  </form>
