<mat-grid-list rowHeight=80 cols="1">
<mat-grid-tile>
    <!-- <button mat-button [color]="day === selectedDay ? 'primary' : ''" *ngFor="let day of data.involvedDays" (click)="getDataByDay(day)">{{day}}</button> -->
    <mat-form-field>
      <mat-select [(ngModel)]="selectedDay" (selectionChange)="getDataByDay(selectedDay)">
        <mat-option *ngFor="let day of data.involvedDays" [value]="day" >
          {{day}}
        </mat-option>
      </mat-select>
    </mat-form-field>
</mat-grid-tile>
</mat-grid-list>
<table mat-table [dataSource]="dataSource" matSort style="overflow-y: auto; overflow-x: auto;" width="100%">
    <ng-container matColumnDef="Day">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Day </th>
        <td mat-cell *matCellDef="let element">
          {{element.Day}}
        </td>
        <td mat-footer-cell *matFooterCellDef style="border-top: 1px solid;">Total: </td>
    </ng-container>
    <ng-container matColumnDef="Sublocation" sticky>
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 100px;"> Sublocation </th>
        <td mat-cell *matCellDef="let element">
          {{element.Sublocation}}
        </td>
        <td mat-footer-cell *matFooterCellDef style="border-top: 1px solid;"></td>
    </ng-container>
    <ng-container [matColumnDef]="shift" *ngFor="let shift of shifts">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{shift}} </th>
        <td mat-cell *matCellDef="let element">
          {{element[shift]}}
        </td>
        <td mat-footer-cell *matFooterCellDef style="border-top: 1px solid;font-weight: bolder;">{{getTotalByShift(shift)}}</td>
    </ng-container>
    <ng-container matColumnDef="Total" style="font-weight: bolder;" stickyEnd>
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Total </th>
        <td mat-cell *matCellDef="let element" style="font-weight: bolder; border-left: 1px solid;">
            {{getTotalBySublocation(element.Sublocation)}}
        </td>
        <td mat-footer-cell *matFooterCellDef style="border-left: 1px solid;border-top: 1px solid;">{{getTotal()}}</td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
    <tr mat-footer-row *matFooterRowDef="columns; sticky: true" style="font-weight: bolder;"></tr>
</table>

