/* You can add global styles to this file, and also import other style files */
@import '~material-icons/iconfont/material-icons.scss';
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url(./assets/fonts/Poppins/Poppins-Regular.ttf) format("truetype")
}
html, body { height: 100%; }
body { margin: 0; font-family: Poppins, "Helvetica Neue", sans-serif; }
